div(class="entry input-group col-xs-3")
	label(class="control-label", for='title')  Title: 
	input(class="form-control", ng-model='form.title', name='title')
	label(class="control-label", for='director')  Director: 
	input(class="form-control", ng-model='form.director', name='director')
	label(class="control-label", for='releaseYear')  Release year: 
	input(class="form-control", ng-model='form.releaseYear', name='releaseYear')
	p
		button(class="btn btn-default", ng-click='submitMovie()') Submit Movie