h3 {{movie.title}}
p
  | Are you sure you want to delete this movie? 
  button(class="btn btn-default", ng-click='deleteMovie()') Yes
  |  - 
  button(class="btn btn-default", ng-click='home()') No thanks