doctype
html(ng-app="MovCollApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Movie Collection Application
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
  body
    block body
